* {
    
    margin: 0;
}



#tittle {
    color: brown;
    font-family: danger_font;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

.sangue_tittle {
    display: none;
}

#content {
    display: flex;
    justify-content: center;
}

#box_left {
    background-color: aqua;
    height: 500px;
    width: 30%;
    border: 5px solid green;
    
}

#box_right {
    background-color: blue;
    height: 500px;
    width: 30%;
    border: 5px solid red;

}